In [1]:
%load_ext sql

In [2]:
# import packages
import boto3
import configparser
import json
import pandas as pd

# Get params from config

- We need parameters for 
    - redshift cluster
    - redshift database
    - access

In [3]:
config = configparser.ConfigParser()
config.read_file(open('dwh.cfg'))

KEY=config.get('AWS','key')
SECRET= config.get('AWS','secret')

SPKFY_CLUSTER_TYPE       = config.get("CLUSTER","SPKFY_CLUSTER_TYPE")
SPKFY_NUM_NODES          = config.get("CLUSTER","SPKFY_NUM_NODES")
SPKFY_NODE_TYPE          = config.get("CLUSTER","SPKFY_NODE_TYPE")
SPKFY_CLUSTER_IDENTIFIER = config.get("CLUSTER","SPKFY_CLUSTER_IDENTIFIER")

SPKFY_DB= config.get("CLUSTER","SPKFY_DB")
SPKFY_DB_USER= config.get("CLUSTER","SPKFY_DB_USER")
SPKFY_DB_PASSWORD= config.get("CLUSTER","SPKFY_DB_PASSWORD")
SPKFY_PORT = config.get("CLUSTER","SPKFY_PORT")

SPKFY_IAM_ROLE_NAME      = config.get("CLUSTER", "SPKFY_IAM_ROLE_NAME")
SPKFY_ROLE_ARN           = config.get("IAM_ROLE", "SPKFY_ROLE_ARN")

### Create clients and resources for IAM, EC2, S3, and Redshift

To interact with EC2 and S3, utilize `boto3.resource`; for IAM and Redshift, use `boto3.client`. If you require additional details on boto3, refer to the [boto3 documentation](https://boto3.amazonaws.com/v1/documentation/api/latest/index.html).

**Note**: We create clients and resources in the **us-west-2** region. Choose the same region in your AWS Web Console to see these resources.

In [4]:

ec2 = boto3.resource('ec2', region_name = "us-west-2",
                            aws_access_key_id = KEY,
                            aws_secret_access_key = SECRET)

s3 = boto3.resource('s3', region_name = "us-west-2",
                        aws_access_key_id = KEY,
                        aws_secret_access_key = SECRET)

iam = boto3.client('iam', region_name = "us-west-2",
                            aws_access_key_id = KEY,
                            aws_secret_access_key = SECRET)

redshift = boto3.client('redshift', region_name = "us-west-2",
                            aws_access_key_id = KEY,
                            aws_secret_access_key = SECRET)

## STEP 1: IAM ROLE
- Create an IAM Role that makes Redshift able to access S3 bucket (ReadOnly)
- Attach policy to the role that determines what permissions role has
- Get and print the IAM role

In [5]:
try:
    print('1.1 Creating a new IAM Role')
    spkfyRole = iam.create_role(
            Path = '/',
            RoleName = SPKFY_IAM_ROLE_NAME,
            Description = 'A role for creating redshift cluster',
            AssumeRolePolicyDocument = json.dumps(
            {'Statement': [{'Action': 'sts:AssumeRole',
               'Effect': 'Allow',
               'Principal': {'Service': 'redshift.amazonaws.com'}}],
             'Version': '2012-10-17'})
    )   
    

except Exception as e:
    print(e)

1.1 Creating a new IAM Role

In [6]:
iam.attach_role_policy(
    RoleName = SPKFY_IAM_ROLE_NAME,
    PolicyArn = 'arn:aws:iam::aws:policy/AmazonS3ReadOnlyAccess')
print('1.2 Attaching Policy')

1.2 Attaching Policy

In [7]:
print('1.3 Get the IAM role ARN')
roleArn = roleArn = iam.get_role(RoleName = SPKFY_IAM_ROLE_NAME)['Role']['Arn']

print(roleArn)

1.3 Get the IAM role ARN
arn:aws:iam::582764204398:role/spkfyRole

## STEP 2:  Redshift Cluster

- Create a RedShift Cluster
- Describe the cluster to see its status ( ClusterStatus must be available)
- Take note of the cluster endpoint
- Open an incoming  TCP port to access the cluster ednpoint

In [8]:
print("2.1 Creating redshift cluster")
try:
    response = redshift.create_cluster(        
        # parameters for hardware
        ClusterType=SPKFY_CLUSTER_TYPE,
        NodeType=SPKFY_NODE_TYPE,
        NumberOfNodes=int(SPKFY_NUM_NODES),

        # parameters for identifiers & credentials
        DBName=SPKFY_DB,
        ClusterIdentifier=SPKFY_CLUSTER_IDENTIFIER,
        MasterUsername=SPKFY_DB_USER,
        MasterUserPassword=SPKFY_DB_PASSWORD,
        
        # parameter for role (to allow s3 access)
        IamRoles = [roleArn]
         
    )
except Exception as e:
    print(e)

2.1 Creating redshift cluster

In [5]:
def prettyRedshiftProps(props):
    pd.set_option('display.max_colwidth', -1)
    keysToShow = ["ClusterIdentifier", "NodeType", "ClusterStatus", "MasterUsername", "DBName", "Endpoint", "NumberOfNodes", 'VpcId']
    x = [(k, v) for k,v in props.items() if k in keysToShow]
    return pd.DataFrame(data=x, columns=["Key", "Value"])

print("2.2 Checking cluster status")
myClusterProps = redshift.describe_clusters(ClusterIdentifier=SPKFY_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

2.2 Checking cluster status

,Key,Value
0,ClusterIdentifier,spkfycluster
1,NodeType,dc2.large
2,ClusterStatus,available
3,MasterUsername,spkfy_user
4,DBName,spkfy
5,Endpoint,"{'Address': 'spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0988f21da1ff009ce
7,NumberOfNodes,4

In [6]:
print("2.3 Printing redshift cluster endpoint")

SPKFY_ENDPOINT = myClusterProps['Endpoint']['Address']
SPKFY_ROLE_ARN = myClusterProps['IamRoles'][0]['IamRoleArn']
print("SPKFY_ENDPOINT :: ", SPKFY_ENDPOINT)
print("SPKFY_ROLE_ARN :: ", SPKFY_ROLE_ARN)

2.3 Printing redshift cluster endpoint
SPKFY_ENDPOINT ::  spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com
SPKFY_ROLE_ARN ::  arn:aws:iam::582764204398:role/spkfyRole

In [16]:
print("2.4 Opening TCP port to access cluster")
try:
    vpc = ec2.Vpc(id=myClusterProps['VpcId'])
    defaultSg = list(vpc.security_groups.all())[0]
    print(defaultSg)
    
    defaultSg.authorize_ingress(
        GroupName= defaultSg.group_name,
        CidrIp='0.0.0.0/0',
        IpProtocol='TCP',
        FromPort=int(SPKFY_PORT),
        ToPort=int(SPKFY_PORT)
    )
except Exception as e:
    print(e)

2.4 Opening TCP port to access cluster
ec2.SecurityGroup(id='sg-02117e24490270498')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists

## STEP 3: Connect to database Cluster

- Make sure you can connect to postgres database on redshift cluster

In [7]:
print("3.1 Connect to database on redshift")
conn_string="postgresql://{}:{}@{}:{}/{}".format(SPKFY_DB_USER, SPKFY_DB_PASSWORD, SPKFY_ENDPOINT, SPKFY_PORT,SPKFY_DB)
print(conn_string)
%sql $conn_string

3.1 Connect to database on redshift
postgresql://spkfy_user:Passw0rd@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy

'Connected: spkfy_user@spkfy'

## STEP 4: CREATE TABLES ON CLUSTER
- Create staging tables
- Create analytics tables

In [9]:
print("Creating staging  and analytics tables")
!python create_tables.py

Creating staging  and analytics tables

## STEP 5: LOAD S3 DATA INTO STAGING TABLES
- Confirm data exists in S3
    - check for song_data
    - check for log_data
- Load data from S3 into staging tables

In [19]:
print("5.1.1 Confirming song data on S3")
sampleDbBucket = s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="song_data/A/A/A"):
    print(obj)

5.1.1 Confirming song data on S3
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAK128F9318786.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAAV128F421A322.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAABD128F429CF47.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAACN128F9355673.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEA128F935A30D.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAED128E0783FAB.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEM128F93347B9.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAEW128F42930C0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAFD128F92F423A.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAGR128F425B14B.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHD128F42635A5.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHJ128F931194C.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAHZ128E0799171.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAIR128F1480971.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAJN128F428E437.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAND12903CD1F1B.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAANK128F428B515.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAOF128F429C156.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAPK128E0786D96.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAQN128F9353BA0.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAQO12903CD8E1C.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAUC128F428716F.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAUR128F428B1FA.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='song_data/A/A/A/TRAAAYL128F4271A5B.json')

In [20]:
print("5.1.1 Confirming log data on S3")
sampleDbBucket = s3.Bucket("udacity-dend")
for obj in sampleDbBucket.objects.filter(Prefix="log_data/2018"):
    print(obj)

5.1.1 Confirming log data on S3
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-01-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-02-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-03-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-04-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-05-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-06-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-07-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-08-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-09-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-10-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-11-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-12-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-13-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-14-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-15-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-16-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-17-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-18-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-19-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-20-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-21-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-22-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-23-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-24-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-25-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-26-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-27-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-28-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-29-events.json')
s3.ObjectSummary(bucket_name='udacity-dend', key='log_data/2018/11/2018-11-30-events.json')

In [10]:
print("5.2 Loading data from s3 into staging table")
print("5.2 Loading data from staging table into analytics tables")

!python etl.py

5.2 Loading data from s3 into staging table
5.2 Loading data from staging table into analytics tables

## STEP 6: Validate data load
- Validate load in the following tables;
    - staging_events
    - staging_songs
    - songplay
    - users
    - song
    - artist
    - time

In [11]:
%%sql
SELECT 'staging_events' as TABLE_NAME, count(*) from staging_events AS RECORD_COUNT
UNION 
SELECT 'staging_songs', count(*) from staging_songs
UNION
SELECT 'songplays', count(*) from songplays
UNION 
SELECT 'users', count(*) from users
UNION 
SELECT 'songs', count(*) from songs
UNION
SELECT 'artists', count(*) from artists
UNION 
SELECT 'time', count(*) from time
;

 * postgresql://spkfy_user:***@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy
7 rows affected.

[('songplays', 6820),
 ('staging_events', 8056),
 ('staging_songs', 14896),
 ('users', 104),
 ('artists', 10025),
 ('time', 6813),
 ('songs', 14896)]

## STEP 7: Run some analytics queries
- Display song title, artist_name and the number of times song has been played
- Display users and the number of songs they played
- Display artists with the number of songs regardless of whether they were played
- Do females listen to more songs than males?

### 7.1 Display song title, artist_name and the number of times song has been played

In [12]:
%%sql
SELECT s.song_id, s.title, a.name as artist_name, count(*)
FROM songplays sp
JOIN songs s
ON sp.song_id = s.song_id
JOIN artists a
ON s.artist_id = a.artist_id
GROUP BY(s.song_id, s.title, artist_name)
ORDER BY 4 DESC
LIMIT 10

 * postgresql://spkfy_user:***@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy
10 rows affected.

[('SOBONKR12A58A7A7E0', "You're The One", 'Dwight Yoakam', 37),
 ('SOHTKMO12AB01843B0', 'Catch You Baby (Steve Pitron & Max Sanna Radio Edit)', 'Lonnie Gordon', 9),
 ('SOUNZHU12A8AE47481', "I CAN'T GET STARTED", 'Ron Carter', 9),
 ('SOULTKQ12AB018A183', "Nothin' On You [feat. Bruno Mars] (Album Version)", 'B.o.B', 8),
 ('SOLZOBD12AB0185720', "Hey Daddy (Daddy's Home)", 'Usher featuring Jermaine Dupri', 6),
 ('SOTNHIP12AB0183131', 'Make Her Say', 'Kid Cudi', 5),
 ('SOARUPP12AB01842E0', 'Up Up & Away', 'Kid Cudi', 5),
 ('SOIOESO12A6D4F621D', 'Unwell (Album Version)', 'matchbox twenty', 4),
 ('SOIZLKI12A6D4F7B61', 'Supermassive Black Hole (Album Version)', 'Muse', 4),
 ('SONQEYS12AF72AABC9', 'Mr. Jones', 'Counting Crows', 4)]

### 7.2 Display users and the number of songs they played

In [13]:
%%sql
SELECT u.user_id, u.first_name, u.last_name, count(song_id)
FROM users u
JOIN songplays sp
ON u.user_id = sp.user_id
GROUP BY (u.user_id, u.first_name, u.last_name)
ORDER BY 4 DESC
LIMIT 10

 * postgresql://spkfy_user:***@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy
10 rows affected.

[(49, 'Chloe', 'Cuevas', 42),
 (97, 'Kate', 'Harrell', 32),
 (80, 'Tegan', 'Levine', 31),
 (44, 'Aleena', 'Kirby', 21),
 (73, 'Jacob', 'Klein', 18),
 (88, 'Mohammad', 'Rodriguez', 17),
 (15, 'Lily', 'Koch', 15),
 (36, 'Matthew', 'Jones', 13),
 (29, 'Jacqueline', 'Lynch', 13),
 (24, 'Layla', 'Griffin', 13)]

### 7.3 Display artists with the number of songs regardless of whether they were played

In [14]:
%%sql
SELECT a.artist_id, a.name as artist_name, count(s.song_id)
FROM songs s
JOIN artists a
ON s.artist_id = a.artist_id
GROUP BY(a.artist_id, artist_name)
ORDER BY 3 DESC
LIMIT 10

 * postgresql://spkfy_user:***@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy
10 rows affected.

[('ARYPTWE1187FB49D64', 'Polygon Window', 9),
 ('ARUPWVD1187FB4DA36', 'Badly Drawn Boy', 9),
 ('ARD2NDU1187B99B615', 'Dropkick Murphys', 8),
 ('ARLHO5Z1187FB4C861', 'The Beastie Boys', 8),
 ('ARH6W4X1187B99274F', 'Radiohead', 8),
 ('ARODBRG1187FB3FD99', 'Nick Cave & The Bad Seeds', 8),
 ('ARAO91X1187B98CCA4', 'Tracy Chapman', 8),
 ('AR62BB21187B9AC83D', 'The Breeders', 8),
 ('ARML8X41187B990644', 'Simple Minds', 7),
 ('ARYF20K1187B9B76BD', 'George Lopez', 7)]

### 7.4 Do females listen to more songs than males?

In [15]:
%%sql
SELECT gender, count(*)
FROM users u
JOIN songplays sp
ON u.user_id = sp.user_id
GROUP BY gender

 * postgresql://spkfy_user:***@spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com:5439/spkfy
2 rows affected.

[('F', 4887), ('M', 1933)]

## STEP 8: DELETE CLUSTER
- Delete cluster
- Check cluster status - ClusterStatus  must show deleting or deleted

In [104]:
redshift.delete_cluster( ClusterIdentifier=SPKFY_CLUSTER_IDENTIFIER,  SkipFinalClusterSnapshot=True)

{'Cluster': {'ClusterIdentifier': 'spkfycluster',
  'NodeType': 'dc2.large',
  'ClusterStatus': 'deleting',
  'MasterUsername': 'spkfy_user',
  'DBName': 'spkfy',
  'Endpoint': {'Address': 'spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com',
   'Port': 5439},
  'ClusterCreateTime': datetime.datetime(2024, 4, 9, 0, 42, 30, 449000, tzinfo=tzlocal()),
  'AutomatedSnapshotRetentionPeriod': 1,
  'ClusterSecurityGroups': [],
  'VpcSecurityGroups': [{'VpcSecurityGroupId': 'sg-02117e24490270498',
    'Status': 'active'}],
  'ClusterParameterGroups': [{'ParameterGroupName': 'default.redshift-1.0',
    'ParameterApplyStatus': 'in-sync'}],
  'ClusterSubnetGroupName': 'default',
  'VpcId': 'vpc-0988f21da1ff009ce',
  'AvailabilityZone': 'us-west-2a',
  'PreferredMaintenanceWindow': 'wed:07:30-wed:08:00',
  'PendingModifiedValues': {},
  'ClusterVersion': '1.0',
  'AllowVersionUpgrade': True,
  'NumberOfNodes': 4,
  'PubliclyAccessible': True,
  'Encrypted': False,
  'Tags': [],
  'EnhancedVpcRouting': False,
  'IamRoles': [{'IamRoleArn': 'arn:aws:iam::582764204398:role/spkfyRole',
    'ApplyStatus': 'in-sync'}],
  'MaintenanceTrackName': 'current'},
 'ResponseMetadata': {'RequestId': '3268b96c-5fcc-489d-ae9a-91a2343edf72',
  'HTTPStatusCode': 200,
  'HTTPHeaders': {'x-amzn-requestid': '3268b96c-5fcc-489d-ae9a-91a2343edf72',
   'content-type': 'text/xml',
   'content-length': '2893',
   'date': 'Tue, 09 Apr 2024 01:13:36 GMT'},
  'RetryAttempts': 0}}

In [105]:
myClusterProps = redshift.describe_clusters(ClusterIdentifier=SPKFY_CLUSTER_IDENTIFIER)['Clusters'][0]
prettyRedshiftProps(myClusterProps)

,Key,Value
0,ClusterIdentifier,spkfycluster
1,NodeType,dc2.large
2,ClusterStatus,deleting
3,MasterUsername,spkfy_user
4,DBName,spkfy
5,Endpoint,"{'Address': 'spkfycluster.cnnusfnzzwec.us-west-2.redshift.amazonaws.com', 'Port': 5439}"
6,VpcId,vpc-0988f21da1ff009ce
7,NumberOfNodes,4